/* Empty. Add your own CSS if you like */
body {
 background: #ccc;   
}
.flip {
  -webkit-perspective: 800;
   width: 85%;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
-webkit-transform: rotatey(180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  /*-webkit-backface-visibility: hidden ;*/
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    -webkit-transform: rotatey(180deg);
}
.custom_calendar .tsb-icons {
    margin: 0px;
}
.tabbed-slidebox .tsb-icons:after{
  content: none;
  display: none!important;
}
.tabbed-slidebox .tsb-icons .scroll a {
    width: auto;
    line-height: 16px;
    text-decoration: none;
    font-size: 14px;
    min-width: 50px;
    margin: 0;
    border-bottom: none;
    -webkit-transform: none;
    vertical-align: middle;
}
/*.tabbed-slidebox .tsb-icons .scroll a:active{
    line-height: 16px;
    border-bottom: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}*/
.custom_calendar .tsb-hscroll.scroll-view .scroll{
  height: 45px;  
  padding: 5px 0;
  box-sizing:border-box;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
    font-size: 14px;
    -webkit-transform: none;
    border-bottom: none;
    line-height: 16px;
    border-bottom: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}
.tabbed-slidebox .tsb-icons .scroll a.active span{
    border-radius: 50px;
    background-color: red;
    color: white;
}
.tabbed-slidebox .tsb-icons a span {
    display: block;
    height: 45px;
    width: 50%;
    margin: 0 auto;
    height: inherit;
}
#flip{
      position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}
}